<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.dreamcatcherfinancing.dreamcatcherfinancing"
        version = "41">
    <name>Dream Catcher Auto Financing</name>
    <description>
        Web App by Digit Art Designs Ltd.
    </description>
    <author href="http://digitartdesigns.com" email="support@digitartdesigns.com">
        Digit Art Designs Ltd. Team
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
	<preference name="phonegap-version" value="cli-6.3.0" />
	<preference name="splash-screen-duration" value="6000" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="org.apache.cordova.device" />
	<plugin name="org.apache.cordova.inappbrowser" />
	<icon src="icon.png" gap:platform="android" gap:density="hdpi" gap:role="default" />
	<gap:splash src="images/screen-portrait-md.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="images/screen-portrait-lg.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="images/screen-portrait-xh.png" gap:platform="android" gap:density="xhdpi" />
	<access origin="*" />
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<!--<allow-intent href="http://*/*" />
    <allow-navigation href="*" />-->
</widget>